body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

nav{
    position: relative;
    height: 10vh;
    width: 100vw;
    background-color:rgb(0, 102, 255);
    border: 2px solid grey;
    display: flex;
    place-content: space-around;
    place-items:center;
    font-family: "Nabla", system-ui;
    font-weight: 400;
    font-size: 46px;
    
}
.search{
    height:40px;
    display: flex;
    justify-content: space-around;
}
textarea{
    padding:10px;
    width:400px;
    align-content: center;
    border-radius: 60px;
    resize: none;
}
.mag-glass-cont{
    display: flex;
    place-items: center;
    place-content: center;

    width: 40px;
    border-radius: 100%;
    
    background-color: white;
}
.fa-magnifying-glass{
    font-size: x-large;
}

.sound-board{
    /* position: relative; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px;
    padding: 50px;
    gap: 20px;

    height: 90vh;
    z-index: 0;
    /* z-index: -9999; */
    
}
.sound-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100px;
    width: 150px;
    border-radius: 10px;
    z-index: 1;

    background: #ebebeb;
}

/* Button Styling */
.button{
    position: relative;
    height: 35px;
    width: 100px;
    margin: 20px;
    z-index: 99;
}
.button:active .top{
    transform: translateY(8px);
}
.layer{
    
    height: 100%;
    width: 100%;
    border-radius:50px;
    border:2px solid rgb(104, 104, 104);
}
.top{
    /* position: relative; */
    display:flex;
    align-items: center;
    justify-content: center;
    
    color: rgba(52, 52, 52, 0.904);
    font-size: 20px;
    background-color: peachpuff;
    z-index: 2;

    transition: transform 0.05s ease-in-out;

    cursor: pointer;
    user-select: none;
}

.bottom{
    position: absolute;
    top: 8px;
    background-color: rgb(232, 197, 167);
    z-index: -1;
}
.bottom::before{
    position: absolute;
    content: "";
    background-color:rgb(104, 104, 104) ;
    height: 8px;
    width: 2px;
    bottom: 0;
    left: 15%;
}

.bottom::after{
    position: absolute;
    content: "";
    background-color:rgb(104, 104, 104) ;
    height: 8px;
    width: 2px;
    bottom: 0;
    left: 85%;
}

.button::before{
    content: "";
    position: absolute;
    height: 100%;
    width: calc(100% + 2px);
    border-radius: 50px;
    background-color:rgb(169, 169, 169);
    left: 1px;
    top:16px;
    z-index: -1;
}